@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
::before,
::after {
  box-sizing: border-box;

  border-width: 0;

  border-style: solid;

  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: "";
}

html,
:host {
  line-height: 1.5;

  -webkit-text-size-adjust: 100%;

  -moz-tab-size: 4;

  -o-tab-size: 4;
  tab-size: 4;

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-feature-settings: normal;

  font-variation-settings: normal;

  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;

  line-height: inherit;
}
hr {
  height: 0;

  color: inherit;

  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  font-feature-settings: normal;

  font-variation-settings: normal;

  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;

  border-color: inherit;

  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  font-feature-settings: inherit;

  font-variation-settings: inherit;

  font-size: 100%;

  font-weight: inherit;

  line-height: inherit;

  color: inherit;

  margin: 0;

  padding: 0;
}

button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;

  background-color: transparent;

  background-image: none;
}
:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;

  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;

  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;

  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;

  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;

  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
body {
  font-family: Poppins, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(34 38 42 / var(--tw-text-opacity));
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-1\/4 {
  bottom: 25%;
}

.bottom-5 {
  bottom: 1.25rem;
}

.left-0 {
  left: 0px;
}

.left-\[5\%\] {
  left: 5%;
}

.right-0 {
  right: 0px;
}

.top-\[68px\] {
  top: 68px;
}

.bottom-0 {
  bottom: 0px;
}

.z-10 {
  z-index: 10;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.row-start-1 {
  grid-row-start: 1;
}

.row-end-3 {
  grid-row-end: 3;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-\[17px\] {
  margin-top: 17px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[265\.15px\] {
  height: 265.15px;
}

.h-\[286\.8px\] {
  height: 286.8px;
}

.h-\[371px\] {
  height: 371px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[574px\] {
  height: 574px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[calc\(100vh-68px\)\] {
  height: calc(100vh - 68px);
}

.h-full {
  height: 100%;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[98px\] {
  height: 98px;
}

.min-h-10 {
  min-height: 2.5rem;
}

.w-\[268px\] {
  width: 268px;
}

.w-\[532px\] {
  width: 532px;
}

.w-full {
  width: 100%;
}

.w-\[300px\] {
  width: 300px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-\[0\.3\] {
  flex: 0.3;
}

.flex-\[0\.7\] {
  flex: 0.7;
}

.-translate-x-\[101\%\] {
  --tw-translate-x: -101%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes fade-bottom {
  0% {
    transform: translatey(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-left {
  animation: fade-left 1s ease-in;
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-right {
  animation: fade-right 1s ease-in;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-\[21px\] {
  gap: 21px;
}

.gap-\[34px\] {
  gap: 34px;
}

.gap-\[70px\] {
  gap: 70px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.bg-\[\#F2F8FC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 248 252 / var(--tw-bg-opacity));
}

.bg-black-text {
  --tw-bg-opacity: 1;
  background-color: rgb(34 38 42 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white\/30 {
  background-color: rgb(255 255 255 / 0.3);
}

.bg-white\/50 {
  background-color: rgb(255 255 255 / 0.5);
}

.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}

.bg-\[\#E7F5F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(231 245 248 / var(--tw-bg-opacity));
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-center {
  -o-object-position: center;
  object-position: center;
}

.object-right {
  -o-object-position: right;
  object-position: right;
}

.object-top {
  -o-object-position: top;
  object-position: top;
}

.p-5 {
  padding: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pt-\[68px\] {
  padding-top: 68px;
}

.text-center {
  text-align: center;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-normal {
  line-height: 1.5;
}

.text-\[\#CF2929\] {
  --tw-text-opacity: 1;
  color: rgb(207 41 41 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.line-through {
  text-decoration-line: line-through;
}

.opacity-0 {
  opacity: 0;
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-\[0\.3s\] {
  transition-duration: 0.3s;
}

.duration-\[0\.7s\] {
  transition-duration: 0.7s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section__spacing-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content__center {
  width: 100%;
}

@media (min-width: 480px) {
  .content__center {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .content__center {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .content__center {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .content__center {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .content__center {
    max-width: 1536px;
  }
}

.content__center {
  margin-left: auto;
  margin-right: auto;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  display: block;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav {
  transform: translate(0%) !important;
}

.postion-unset {
  position: unset;
}

.hover\:scale-\[1\.01\]:hover {
  --tw-scale-x: 1.01;
  --tw-scale-y: 1.01;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:h-full {
  height: 100%;
}

.group:hover .group-hover\:h-\[300px\] {
  height: 300px;
}

.group:hover .group-hover\:w-full {
  width: 100%;
}

.group:hover .group-hover\:w-\[300px\] {
  width: 300px;
}

.group:hover .group-hover\:bg-black\/30 {
  background-color: rgb(0 0 0 / 0.3);
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 768px) {
  .md\:left-\[10\%\] {
    left: 10%;
  }

  .md\:right-0 {
    right: 0px;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:leading-normal {
    line-height: 1.5;
  }
}

@media (min-width: 1024px) {
  .lg\:relative {
    position: relative;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-start-3 {
    grid-column-start: 3;
  }

  .lg\:row-start-1 {
    grid-row-start: 1;
  }

  .lg\:row-end-3 {
    grid-row-end: 3;
  }

  .lg\:my-\[34px\] {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:h-\[286\.8px\] {
    height: 286.8px;
  }

  .lg\:h-\[265\.15px\] {
    height: 265.15px;
  }

  .lg\:h-\[574px\] {
    height: 574px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-flow-col {
    grid-auto-flow: column;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-items-start {
    justify-items: start;
  }

  .lg\:justify-items-stretch {
    justify-items: stretch;
  }

  .lg\:bg-transparent {
    background-color: transparent;
  }

  .group:hover .lg\:group-hover\:h-full {
    height: 100%;
  }

  .group:hover .lg\:group-hover\:w-full {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .xl\:pr-20 {
    padding-right: 5rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:pr-56 {
    padding-right: 14rem;
  }

  .\32xl\:text-\[80px\] {
    font-size: 80px;
  }
}
